# ==========================================
# JJPlayer - SwiftFormat 规则配置 (.swiftformat)
# ==========================================

# ------------------------------------------
# 排除目录 (防止格式化编译缓存与测试代码)
# ------------------------------------------
--exclude .build,DerivedData,*.xcodeproj,*.xcworkspace,VideoToolTests,VideoToolUITests

# ------------------------------------------
# 核心格式化规则
# ------------------------------------------
# 指定 Swift 语言版本
--swiftversion 5.9

# 缩进规范：使用 4 个空格缩进
--indent 4

# 大括号风格：使用 OTBS 风格（大括号放在行尾，而非新行起头）
--allman false


# 自动修剪行尾空格
--trimwhitespace always

# 闭包参数规范：移除非必要的未使用闭包参数
--stripunusedargs closure-only

# 逗号规范：多行集合字面量时，确保每一项行尾都有逗号以方便 Git Diff
--commas inline


